@import './base.css';

#app {
  width: 100vw;
  justify-content: center;
  padding: 2rem;
  font-weight: normal;
  font-family: "Arial Nova", sans-serif;
}


@media (min-width: 1024px) {
  body {
    display: flex;

  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
