@import './base.css';

#app {
  justify-content: center;
  font-weight: normal;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #ffffff;
  color: #333;
  z-index: 1;
}


@media (min-width: 1024px) {
  body {
    display: flex;

  }

  .highlight {
    color: #06c0ff;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .badhighlight {
    color: #a24936;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
