@import './base.css';

#app {
  justify-content: center;
  font-weight: normal;
  font-family: "Euphemia UCAS", sans-serif;
  background-color: white;
  color: #333;
  z-index: 1;
}


@media (min-width: 1024px) {
  body {
    display: flex;

  }
}
